@use 'variaveis';

.acesso {

    &__lista {
        
        &__link {   
            display: flex;
            gap: 5%;

            &__item {
                list-style: none;
            }
        }
    }
}

.item {
    

    text-align: center;
    padding: 4px;
    margin-top: 4px;

    img {
        height: 300px;
        width: 300px;
        max-width: 100%;
        border-radius: 16px;
    }
    
    
    a {
        color: variaveis.$subTitulos;
        &:hover {
            color: darken($color: variaveis.$subTitulos, $amount: 30)
        }
    }

}

@media (max-width:768px) {
    
    .acesso__lista {
        max-width: 484px;
        width: 100%;
        margin: 0 auto;

        &__link {
            display: block;
            
            &__item {

                .img {
                    height: 300px;
                    width: 300px;
                    max-width: 100%;
                    border-radius: 16px;
                }
            }
        }
    }
}

