@use 'variaveis';

.eventos {
    
    &__lista {
        
        &__link {
            display: flex;
            gap: 5%;
            
            .item {
                text-align: center;
                padding: 4px;
                margin-top: 4px;

                a {
                    color: variaveis.$subTitulos;

                    &:hover {
                        color: darken($color: variaveis.$subTitulos, $amount: 30)
                    }
                }
            }
        }
    }
}


@media (max-width:768px) {
    .eventos__lista {
        max-width: 484px;
        width: 100%;
        margin: 0 auto;
        
        &__link{
            display: block;
        }
    }


}