@use 'variaveis';

.faq {



    &__accordion {

        .pergunta, 
        .resposta  {
            background-color: #fff;
            margin: 8px 0;
            padding: 16px;
            border-radius: 16px;
        }
    }
}