@use 'variaveis';

.footer {
        
    &__list {
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;

        &__item {
            color: green;
        }
    }


    &__button {

        color: variaveis.$subTitulos;

        &:hover {
            color: darken($color: variaveis.$subTitulos, $amount: 30)
        }
    }

    &__paragrafo {
        color: #fff;
        text-align: center;
    }
}