.cadastro {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    
    h2 {
        margin-top: 30px;
        text-align: center;

        img {
            
            width: 120px;
        }
    }
    .form {
        text-align: center;
        &__input {
        justify-content: center;
        }
        &__label {
            display: block;
        }
    }
}
