

.cadastro {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
}

.form {
    text-align: center;
    &__input {
        justify-content: center;
    }
    &__label {
        display: block;
    }
}

