@use 'variaveis';


.formulario {
    h2 {
        color: #fff;
        margin: 20px 0 10px 0;
        text-align: center;
    }

    h3 {
        color: variaveis.$subTitulos;
    }

    p {
        color: variaveis.$subTitulos;
    }

    &__pesquisa {
        text-align: center;
    }
    
    .label {
        color: variaveis.$subTitulos;
        display: block;
        padding: 8px;
        margin: 5px 0;
        font-size: 16px;
        
    } 
    .input {
        font-size: 16px;
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding: 8px;
        border: none;
        border-radius: 16px;
        
    }
}


