@use 'variaveis';
@use 'reset';


.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    transition: background-color .5s ease;


    &--is--hidden {
        background-color: transparent;
        transition: background-color .5s ease;
        .header__container__logo,
        .header__links__item:first-child {
            transition: opacity .5s ease;
            opacity: 0; 
            visibility: hidden;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 1024px;
        max-width: 100%;

        @media (max-width: 767px) {
            margin: 0 auto;
            width: 400px;
            max-width: 100%;
        }

        @media (min-width: 768px) and (max-width: 1023px){
            margin: 0 auto;
            width: 710px;
            max-width: 100%;
        }

        &__logo {
            margin-top: 16px;
            width: 80px;
            transition: opacity .5s ease;
        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        list-style: none;

        :nth-child(2) {
            opacity: .6;
            margin: 0 60px;
        }
    }
}

