@use 'variaveis';

.hero {
        background-image: url(https://m.media-amazon.com/images/I/815RdazkJ5L._AC_UF1000,1000_QL80_.jpg);
    padding-bottom: 50px;
    padding: 500px 0;
    margin-bottom: 36px;
}


