@use 'variaveis';

.hero {

    &__container {
        text-align: center;
        margin-top: -90px;
        
        &__container {
            width: 100%
        }
    }
}

@media (max-width: 668px) {
    .hero {
        &__container {
            img {
                max-width: 370px;
                width: 100%;
            }
        }
    }
}