@use 'variaveis';


.produtos {
    &__intro {
        text-align: center;
        color: #fff;
    }
}

.serviços {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__imagem {
//mt trabalho para fazer manualmente, preciso pensar como alinhar de maneira mais rapida.

        height: 310px;
        max-width: 100%;
        margin: 20px 0 auto;

        margin-top: 50px;
    }

&__links {
        list-style: none;
        display: flex;


        &__item{
            text-align: center;
            width: 200px;
            max-width: 100%;
            margin: 16px;

            .img__prod {
                width: 300px;
                max-width: 100%;
                border-radius: 6px;
            }


            p {
                margin-bottom: 20px;
                color: #fff;
            }

            img {
                margin: 50px 0 10px  ;
            }
        }
    }
}

.qualquer {
    margin-top: 12px;
    border-radius: 6px;
}

@media (max-width: 767px) {
    .serviços {
        display: block;

        &__imagem {
            max-width: 320px;
            width: 100%;
            margin: 50px auto;
        }

        &__links {
            display: block;
            
            &__item {
                max-width: 340px;
                width:100%;
                margin: 0 auto;


                .img__prod {
                    width: 300px;
                }
            }
        }
    }

    .qualquer { 
        width: 320px;
    }
}


@media (min-width: 768px) and (max-width:1023px){

    .serviços {
        display: block;

        &__imagem {
            max-width: 320px;
            width: 100%;
            margin: 50px 70px auto;
        }

        &__links {
            display: block;
            
            &__item {
                max-width: 340px;
                width:100%;
                margin: 16px auto;
                .img__prod {
                    width: 300px;
                }
            }
        }
    }

    .qualquer { 
        margin: 0 0 80px 100px;
    }

}