@use 'variaveis';


.produtos {
    &__intro {
        text-align: center;
        color: #fff;
    }
}

.serviços {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__imagem {
//mt trabalho para fazer manualmente, preciso pensar como alinhar de maneira mais rapida.
        width: 500px;
        max-width: 100%;
        margin: 24px auto;
        margin-top: 50px;
    }

&__links {
        list-style: none;
        display: flex;


        &__item{
            text-align: center;
            width: 200px;
            max-width: 100%;
            margin: 16px;

            p {
                margin-bottom: 20px;
                color: #fff;
            }

            img {
                margin: 50px 0 10px  ;
            }
        }
    }
}

@media (max-width: 769px) {
    .serviços {
        display: block;

        &__links {
            display: block;
            
            &__item {
                max-width: 500px;
                width:100%;
                .img__prod {
                    width: 400px;
                }
            }
        }
    }
}