@use 'variaveis';

.produtos {
    
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    padding: 36px 0;
    

    &__intro {
        text-align: center;
        color: #fff;
    }
}

.serviços {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__imagem {
//mt trabalho para fazer manualmente, preciso pensar como alinhar de maneira mais rapida.
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

&__links {
        list-style: none;
        display: flex;


        &__item{
            text-align: center;
            width: 200px;
            max-width: 100%;
            margin: 16px;

            p {
                margin-bottom: 20px;
                color: #fff;
            }

            a { //mix diferente para buttons headres e outros.
                text-align: center;
                padding: 2px;
                font-size: 16px;
                color: white;
                text-decoration:none ;
                background-color: variaveis.$corButton;
                padding: 4px  16px;
                border-radius: 8px;
                text-transform: uppercase;
                transition: background-color 0.3s ease;
                
                &:hover {
                    background-color: darken(variaveis.$corButton, 20%);
                }
            }

            img {
                margin: 50px 0 10px  ;
            }
        }
    }
}
