@use 'variaveis';

.titulos {
    .temas {
        
        &__link {
            text-align: center;
            list-style: none;
            margin-bottom: 16px;
    
    
            &__buttons{
                margin: 10px ;
                text-decoration: none;
                color: variaveis.$subTitulos;
                border: none;
                cursor: pointer;
                background-color: transparent;
                font-size: 18px;

                &--is--active {
                    border-bottom: solid 4px #000;
                }

                &:hover {
                    color: darken($color: variaveis.$subTitulos, $amount: 30)
                }
            }
        }
    }

    &__opcoes {
        
        &__link {
            gap: 60px;
            list-style: none;
            display: none;
            grid-template-columns: 1fr 1fr 1fr;

            &--is--active {
                display: grid;
            }
            
            &__item {

                .item__img {
                    width: 300px;
                    height: 300px;
                    max-width: 100%;
                    border-radius: 16px;
                }
            }
        }
    }
}

@media (max-width:767px) {

.titulos {

        &__opcoes {
            max-width: 340px;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 120px;

            &__link {
                grid-template-columns: 1fr 1fr;
                gap: 5%;
                &__item {

                    .item__img {
                        height: 150px;
                        width: 300px;
                        max-width: 100%;
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    
.titulos {

    .titulo {
        margin-top: 180px;
    }

        &__opcoes {
            max-width: 710px;
            width: 100%;
            margin: 0 auto;
            padding-bottom: 120px;

            &__link {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 5%;
                &__item {

                    .item__img {
                        height: 250px;
                        width: 300px;
                        border-radius: 16px;
                    }
                }
            }
        }
    }
}

