@use 'variaveis';

.titulos {
    .temas {
    
        h2 {
            color: #fff;
            text-align: center;
            margin: 10px;
        }
    
        &__link {
            text-align: center;
            list-style: none;
            margin-bottom: 16px;
    
    
            &__buttons{
                margin: 10px ;
                text-decoration: none;
                color: variaveis.$subTitulos;

                &:hover {
                    color: darken($color: variaveis.$subTitulos, $amount: 30)
                }
            }
        }
    }

    &__opcoes {
        
        &__link {
            gap: 24px;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
            &__item {

                .item__img{
                    border-radius: 16px;
                }
            }
        }
    }
}



